[2015-12-03 16:17] bkabrda opened #1 "Multiple chained stubs sharing a stem are not supported"
More information: https://github.com/has207/flexmock/issues/71

[2015-12-03 16:18] bkabrda opened #2 "Add support for mocking properties"
https://github.com/has207/flexmock/issues/72, discussed in https://github.com/has207/flexmock/pull/69

[2015-12-03 16:19] bkabrda opened #3 "Wrap and proxy method calls for builtin objects rather than error(?)"
Original issue: https://github.com/has207/flexmock/issues/82

[2015-12-03 16:20] bkabrda opened #4 "Class level mock example does not work?"
https://github.com/has207/flexmock/issues/84

[2015-12-03 16:21] bkabrda opened #5 "Scoping issues when mocking class method"
https://github.com/has207/flexmock/issues/88

[2015-12-03 16:21] bkabrda opened #6 "py.test fixtures do not work"
https://github.com/has207/flexmock/issues/92

[2015-12-03 16:22] bkabrda opened #7 "with_args unable to pass attribute as value"
https://github.com/has207/flexmock/issues/103

[2015-12-03 16:22] bkabrda opened #8 "Ordered needs to be repeated when using times"
Original issue: https://github.com/has207/flexmock/issues/104

[2015-12-03 16:24] bkabrda opened #9 "Is it possible to partially mock lambda expressions?"
https://github.com/has207/flexmock/issues/109

[2015-12-03 16:26] bkabrda opened #10 "when object is proxied looking for attr does not work properly"
Original issue: https://github.com/has207/flexmock/issues/112

[2015-12-05 17:53] #4 closed, assigned to nobody

[2015-12-05 18:13] bkabrda commented on #7
I can't reproduce it with the latest code, so I'll close this bug. @treydock feel free to reopen if you're still hitting this issue. Please also provide flexmock version with which this occurs, ideally with a reproducer. (Note: this is the new official repo of flexmock, see https://github.com/has207/flexmock/commit/0a11b51dc3f5d471a828801e9ecbd971963c7fa0)

[2015-12-05 18:13] #7 closed, assigned to nobody

[2015-12-05 18:20] bkabrda commented on #5
The original issue by @jaridmargolin contains a reference to gist that no longer exists, so I'm closing this bug for lack of info; feel free to reopen if this troubles you (note: this is now the official flexmock repo, see https://github.com/has207/flexmock/commit/0a11b51dc3f5d471a828801e9ecbd971963c7fa0)

[2015-12-05 18:20] #5 closed, assigned to nobody

[2015-12-05 18:21] bkabrda commented on #9
I believe that mocking lambda expressions doesn't really make sense, so I'll close this bug. If anyone presents a compelling case, I'll be glad to reopen and look into this.

[2015-12-05 18:21] #9 closed, assigned to nobody

[2015-12-11 15:05] bkabrda commented on #6
This was actually fixed in https://github.com/has207/flexmock/pull/93 and is part of 0.10.0 release. Closing

[2015-12-11 15:05] #6 closed, assigned to nobody

[2015-12-15 15:03] obestwalter opened #11 "Python 3 regression in 0.10.0?"
our CI borks, when tox is trying to install flexmock 0.10.0. I tried to reproduce it locally but there everything works fine. For now I pinned the version 0.9.7 but would be interested to know if others experienced the same problem.

[code]

[2015-12-17 08:23] bkabrda commented on #11
Thanks for the report, I'll look into it. The `ascii` codec problems usually occur when `LANG` env variable is set to something like `C`, thus Python 3 assumes that `ascii` is the current encoding. I'll try to see if this is the case.

[2015-12-17 08:27] bkabrda commented on #11
Ok, so I think I was right about the cause and fixed it in https://github.com/bkabrda/flexmock/commit/b5f5c92cfa4e84e48eca6014d874e71224d1ba70 - is it possible for you to confirm that the fix works in your environment, so that I can release new version?

[2015-12-17 09:14] david-geiger commented on #11
Hi,

I encountered the same build issue in our Mageia build system and so I can confirm that the commit b5f5c92 fixes now this issue for python 3 build.

before:
http://pkgsubmit.mageia.org/uploads/failure/cauldron/core/release/20151217082745.daviddavid.valstar.18499/log/python-flexmock-0.10.0-1.mga6/build.0.20151217082802.log

After:
http://pkgsubmit.mageia.org/uploads/done/cauldron/core/release/

[2015-12-17 09:45] bkabrda commented on #11
Ok, thanks for letting me know. I'll release 0.10.1 in a couple of moments and then I'll close this bug.

[2015-12-17 09:55] bkabrda commented on #11
Released here: https://pypi.python.org/pypi/flexmock/0.10.1 enjoy!
If you see any more problems, please let me know.

[2015-12-17 09:55] #11 closed, assigned to nobody

[2015-12-17 12:17] obestwalter commented on #11
@bkabrda Wow thanks, problem fixed and I learned something new about Python3 :)

[2015-12-17 13:27] bkabrda opened #12 "Write tests for not yet covered functionality"
There are still parts not covered by tests. Coverage results can be found here: https://app.codecov.io/gh/flexmock/flexmock so let's have everything covered.

[2015-12-17 17:52] bkabrda commented on #11
You're welcome! BTW this is not caused just by `LANG` env variable, it's more like `LC_ALL` > `LC_CTYPE` > `LANG` > `LANGUAGE` (">" == "is more important than"). It's documented as part of `locale.getdefaultlocale()`: https://docs.python.org/3.5/library/locale.html#locale.getdefaultlocale

[2016-01-08 11:12] obestwalter opened #13 "Python3: problem with new_instances isolation"
I am porting our code from python2.7 to python3.4 and tests started failing due to missing isolation in tests where `new_instances` is used. Testframework is pytest 2.8.4

I thought if it's an obvious bug it's easy to reproduce so I created a minimal testcase I would expect to reproduce it, but sadly it doesn't. I add it here anyway, because it illustrates the problem.

file one:

[code]

file two

[2016-01-11 06:59] bkabrda commented on #13
This is weird. I'll try looking into that as soon as I get some free time. Thanks for the report!

[2016-01-13 14:07] obestwalter commented on #13
Thanks but as long as nobody else reports this problem I wouldnt' even bother. I will try to have another look when I get around to it to find if I missed something in the real world tests, that makes something like this possible and maybe I find something out.

[2016-01-13 14:09] obestwalter commented on #13
I would appreciate some hints how I could hunt that problem down, if you have an idea though :)

[2016-01-13 14:30] bkabrda commented on #13
I don't have any immediate advice, but there are some things to consider that might help while trying to reproduce this:
- Is the mocked class a subclass of another class?
- Does it use multiple inheritance?
- Does it use a custom metaclass?
- Does it subclass `object` in your code on Python 2?
- If you have access to a different Python 3.X, could you also try testing on that and confirm if the pr

[2016-01-13 18:30] obestwalter commented on #13
I worked through your list and the last one lead me to a minimal test case (only on file necessary and supersimple), which I could swear I tried already before. Maybe I am halluzinating as well, because the day was very long ... anyway here it is. It passes on 2.7.6 and fails on 3.4.3 and 3.5.0.

[code]

This is the Error:

[code]

[2016-01-14 08:35] bkabrda commented on #13
Cool, thanks a lot, I can reproduce the error on Python 3 now. I don't have much time ATM, but hopefully I'll get some during weekend or next week to debug this.

[2016-01-14 16:01] obestwalter opened #14 "Python3: problem in _verify_signature_match"
This test case passes in 2.7.6 but reports a MethodSignatureError in 3.4.3:

file some_module:

[code]

file test_fm_bug:

[code]

error:

[code]

[2016-01-14 16:05] obestwalter commented on #14
To clarify:
- `test_ok_mock` is just for demonstration that it works if the class is in the same file.
- `test_fm_bug` with the class used from imported module crashes

[2016-01-15 07:13] bkabrda commented on #14
Thanks a lot for the report. As with the other bug, I'll try to address this when I get some time. Just to clarify, you are using flexmock version 0.10.1, is that correct?

[2016-01-15 08:34] obestwalter commented on #14
Yes.

[2016-01-17 19:44] #14 closed, assigned to nobody

[2016-01-17 19:45] bkabrda commented on #14
Fixed. Could you please verify that the fix works? I'll try to get to the other bug ASAP and then release a new version. Thanks!

[2016-01-18 10:51] obestwalter commented on #14
installed from repo with `pip install https://github.com/bkabrda/flexmock/zipball/master` and prodcution test runs through as well now.

[2016-01-18 17:15] bkabrda commented on #13
I believe we're hitting a bug in Python 3 itself [1]. The minimal reproducer actually doesn't need flexmock at all:

[code]

It seems that there's nothing I can do about this until this is fixed in Python. I'll leave this issue opened for now and I'll keep an eye on that Python issue to see where this will go.

[1] http://bugs.python.org/issue25731

[2016-01-18 22:02] obestwalter commented on #13
Wow. Nasty. Ok, might be fixed then in 3.5.X ... until then all we can do is separate tests using `new_instances` into their own modules. Not too painful if one knows about it.

[2016-01-19 07:09] bkabrda commented on #13
Yup. I'll try to release new version with the other fix today; I'll add a note about this bug to documentation.

[2016-01-20 07:21] bkabrda commented on #13
I added a note in the documentation about this issue. I was experimenting with the Python issue 25731 fix and it does fix this bug without any changes required in flexmock. This means there is nothing else I can do about this, so I'm closing this issue.

[2016-01-20 07:21] #13 closed, assigned to nobody

[2016-10-17 14:48] lindycoder opened #16 "Mocked new_instances are not properly cleaned by teardown in Python 3"
Hello!

It would seem that when using `flexmock(<class>).new_instances()` in python 3.4 won't clean the bindings on the class upon calling teardown.

This is an example script using latest flexmock==0.10.2 on Python 3.4.4

[code]

Output is

[code]

If i try to call MyClass without param error becomes

[code]

It works fine on Python 2.7.11

[2016-10-19 06:52] bkabrda commented on #16
Hi, thanks for the report, I'll look into it. It definitely looks like a bug and I can reproduce it.

[2016-10-19 07:00] bkabrda commented on #16
So I think you're hitting https://github.com/bkabrda/flexmock/issues/13, which is caused by a bug in Python itself [1]. The weird thing is, I have Python 3.5.2 where this should already be fixed and I'm still getting the error. So either the fix is wrong or there's another problem somewhere. I'll continue investigating.

[1] http://bugs.python.org/issue25731

[2016-10-19 07:16] bkabrda commented on #16
So yeah, the fix for the underlying Python issue has been reverted. I have a feeling that it was reverted by mistake, but I'm not completely sure. I left a comment at the issue, so we'll see [1].

[1] http://bugs.python.org/issue25731#msg278962

[2016-11-15 14:54] carldunham opened #18 "Conflict with nose2?"
Running a simple test:
[code]
without Twisted, the test passes. With Twisted installed (no other changes), get:
[code]

[2016-11-17 18:18] bkabrda commented on #18
Hi, thanks for the report, I can reproduce this and will look into it.

[2016-11-17 18:36] bkabrda commented on #18
Turns out this is not an issue in flexmock, in certain sense. If Twisted is installed, flexmock will try to hook up into `twisted.trial`, so it will try to import that. The backtrace that you reported actually shows if you try to import something from `twisted.trial` without having flexmock even installed:

[code]

I'm not familiar with nose2 enough to be able to tell which of the following is tru

[2016-11-17 20:01] carldunham commented on #18
Interesting. It seems like not many people are using nose2. Not sure why

[2016-11-17 23:15] carldunham commented on #18
So I switched to `nose` and things work for me, so it seems like a nose2 discovery plugin issue

[2016-11-18 16:02] bkabrda commented on #18
Thanks, so at least you have a workaround for now. In the meanwhile, I'll try to get some time to investigate this further :)

[2016-11-18 16:17] carldunham commented on #13
So until this makes it into Python, is there a work-around?

[2016-11-21 08:15] bkabrda commented on #13
As @obestwalter wrote, you can "separate tests using `new_instances` into their own modules". Other than that, I don't think there's another workaround.

[2016-12-07 14:07] Incanus3 commented on #13
Hi,
I'm getting a different issue, but I think it still matches the 'Python3: problem with new_instances isolation' description. I'm stubbing new instances of my HTTPClient wrapper to verify correct behavior of the program on network failures. The stubbing goes like this:
[code]
The test that does this stubbing works correctly, but once I added this tests, other tests that result in the HTTPClient

[2017-03-09 13:12] frruit opened #19 "pycharm TestRunner and /junit xml support do not work correctly"
Hi,
thanks for the cool mocking library.
My only problem is that the TestRunner output inside pycharm is invalid

![new bitmap image](https://cloud.githubusercontent.com/assets/10387712/23751670/a152e214-04d2-11e7-825f-84a6c66f5c7e.jpg)

I have seen that you add TestRunner support in the version 0.9.7 but with the Version 2016.2.3 it doesn't work.

Any idea or workaround?

[2017-03-09 14:02] frruit commented on #19
Hi, it's me again. Additional to the behavior in Pycharm i figured out that my junit xml has the same result. Tests where Flexmock identify an error like `foo() expected to be called exactly 1 times` are reported as passed.

I use nose with python 3

[2017-03-09 14:17] frruit commented on #19
okay, when i run my tests with the unittest runner, then everything is fine but not with the noserunner

[2017-03-28 16:21] lindycoder opened #20 "MockClass context __exit__ hides exceptions"
Hi, i tried testing a method where my mock would be used as a context manager and the expected behavior is an exception raised inside the context.

What i found is that it doesn't because the __exit__ of the MockClass return "self" on exit, which seems to be hiding the exception.  I presume that python checks the result of the __exit__ and if something is returned it will assume that the __exit__

[2017-07-08 23:38] carldunham commented on #18
Any update on this? Definitely seems like there are issues with `nose2`:
[code]
running this succeeds:
[code]

[2017-07-10 15:11] carldunham commented on #18
I think I see the issue. Nose2 has it's own TestResult class, to send events to plugins for stopTest, etc. So patching the unittest one makes no difference. It also lazy-loads and keeps TestCase instances around. I am thinking about writing a flexmock plugin for nose2, rather than adding another special case here.

[2017-07-14 06:08] bkabrda commented on #18
Hey, sorry for the late response here. I've been extremely busy both in work and personal life lately and didn't have any time to take care of flexmock. This should improve in the upcoming weeks, so I'll definitely get to this. Thanks for your patience.
Alternatively, you can just send a PR. From your description of the problem it seems entirely reasonable to have a flexmock plugin for nose2, so a

[2017-07-27 14:37] lindycoder opened #21 "MethodCallError hides real errors"
Hello!

I found a little inconvenience with the feedback i get when using expectations when using py.test:

If an expectation is not called, the hook raises a MethodCallError even if the test itself failed for an error.  Such an error can even be a MethodSignatureError, which means that if my params are wrong and my expectation has a .once() i don't see the MethodSignatureError, i see a MethodCall

[2017-08-25 14:31] mattduck commented on #21
Hey @lindycoder, I've run into this too. Just had a very quick look and the original exception is being overridden here: https://github.com/bkabrda/flexmock/commit/a10b5412ad2bd4bfdc177070c652552fbc33287c#diff-2979e8cf7da2d8484d298236311f1cb8R1213

[code]

The original `ret.excinfo` is overridden any time flexmock raises. I might submit a fix at the weekend. You can temporarily patch with:

[code]

[2017-10-28 09:49] hroncok opened #23 "Documentation: Code snippets license"
Flexmock is licensed with [BSD 2-clause "Simplified" License][BSD]. The license is perfect and thanks for that.

[BSD]: https://github.com/bkabrda/flexmock/blob/master/LICENSE

However, I find it problematic to share all the **code examples in the documentation** under the same license.

Every time somebody starts using Flexmock and reads the docs, copy pasting the examples and adapting them, they

[2017-11-07 08:07] bkabrda commented on #23
Hi, thanks for opening this issue. I have no problem whatsoever with doing this and I agree with the choice of CC0. I've been very short on time lately, so unfortunately I won't be able to do much. If you're willing to do the legwork and send a PR that adds the copyright footer, I'll review and merge.

[2017-11-16 09:47] hroncok commented on #23
Form the git log, it seems you moved the docs from somewhere. Was it https://github.com/has207/flexmock/wiki?

[2017-11-16 10:15] hroncok commented on #23
Or https://github.com/has207/flexmock/tree/gh-pages?

[2017-11-20 13:22] bkabrda commented on #23
I have to say I don't remember exactly, but I *think* the original maintainer first had the docs in the repo, then moved them to wiki, then to GH pages and then I moved those back to the repo. The history in [1] seems to support this, but I really can't tell.

[1] https://github.com/bkabrda/flexmock/commits/master/docs

[2018-05-02 21:14] hartwork opened #24 "Partial .with_args?"
Hi!

I keep running into cases where `.with_args` needs all arguments passed while I actually only want to check if a certain (magic) value is among them, e.g. to not have the test break when 4 parameters become 5 in the future, to not "test too much". For these cases, currently I fall back to plain `Mock` that allows inspection of `.call_args` a la `self.assertIn(expected_last_name, somemock.call

[2018-12-20 17:03] TomasTomecek opened #26 "Docs: flexmock API on rtd is empty :<"
https://flexmock.readthedocs.io/en/latest/api/

I can't see anything in there.

[2019-01-06 18:33] jpopelka opened #27 "INTERNALERROR with pytest-4.1.0"
[code]

Downgrading to pytest-4.0.2 makes it work again.

[2019-01-07 08:09] jpopelka commented on #27
See https://github.com/pytest-dev/pytest/commit/847eacea19a02887fb6e63601908a37d7c2576a8

[2019-01-07 11:30] #27 closed, assigned to nobody

[2019-03-14 11:31] #26 closed, assigned to nobody

[2019-03-14 11:37] bkabrda commented on #26
Thanks for the report, this should be fixed now.

[2019-03-25 09:57] bkabrda commented on #21
Fixed in #22. Closing this issue.

[2019-03-25 09:57] #21 closed, assigned to nobody

[2019-04-22 11:28] Koschi13 opened #29 "Adding Method to Class on Module level mock"
Hi,

I'm currently trying to write a mock for a class on module level like this:
[code]
Helper is a class which is not implemented yet like this:
[code]
I'm trying to stub the method `help()` on this flexmock object like this:
[code]
However this raises an exception:
[code]

How would I set an Method which does not exist with flexmock?

Tanks for the help :)

flexmock==0.10.4
python==3.7.3

[2019-05-10 19:38] bkabrda commented on #29
Hmm, I've honestly never needed to do anything like this, so I'm a bit curious about the details of your usecase. Generally, there are two ways that flexmock works. Either you create a completely fake object, in which case you don't need to define the `Helper` class at all.

[code]

Or you have the class defined, in which case I'm curious why you'd need to mock a method that doesn't actually exist

[2019-05-14 06:56] Koschi13 commented on #29
@bkabrda let's say I have to work on `class Helper`, but I'm not able to implement it because it's a external class, all I know is how `Helper.help()` is working.
So I would test my usage of this Method with a fake class, which should return True (for simplicity).

There are other Frameworks which can do this, but I just wanted to know if this is possible .
I'm currently writing my Thesis about Py

[2019-05-14 08:57] bkabrda commented on #29
@Biskit1943 right, so here's what I'm asking: if the external class doesn't implement the `help` method, how do you know how that method is working? This is the point that confuses me. I don't see why you would mock a method that doesn't exist, since if it doesn't exist nobody can be using it, so what's the point in mocking it?

I'd be very interested to read your thesis when you finish that BTW,

[2019-05-16 05:54] Koschi13 commented on #29
@bkabrda sure you can read it, if you speek German ^^

The whole thing where I thought to use it, is when the specification states that there is a class `Helper` with that method `help()` whether or not it exists. My Method must use that method even if it does not exist yet. If I know what `help()` is doing it doesn't matter I if it is implemented or not.
I would need to mock the imported class `H

[2019-05-16 09:04] bkabrda commented on #29
Hehe, I don't speak German, so no reading for me :)

I've been thinking about this situation and I think I might have a solution for you. Making sure that the mocked class actually has the mocked attribute/method is sort of a cornerstone of flexmock, so this is not likely to change. *But* I think you could actually mock the class's `__getattribute__` in this case to return a fake `help` function.

[2019-05-16 09:48] Koschi13 commented on #29
How would you do that? I failed to get it working ^^

[2019-05-17 19:15] bkabrda commented on #29
Something like:

[code]

It's true that it's a little bit clumsy, but I'm sure it could be improved further.

[2019-05-20 07:55] Koschi13 commented on #29
I'll include this in my Thesis and also mention your help :)
As far as the clumsiness concerns, I'm fine with it, as I have enough other things to do ^^

[2019-05-20 08:19] Koschi13 commented on #29
Well, I tested your solution a bit and I can't get it working. The Problem is the `__getattribute__` which expects two arguments but only one is provided:
[code]
With the following Code I get:
[code]

[code]

So I don't think this will work :s

[2019-05-24 08:01] bkabrda commented on #29
Yeah, this seems to be a problem with Python 3 implementation of the generic `object.__getattribute__` method which is actually a `wrapper_descriptor` and thus doesn't have a `__code__`, `func_code` or `im_func` attribute. I'll try to figure out a solution for this case.

[2019-10-01 19:58] pglass opened #30 "Raise MethodSignatureError during teardown"
Hi,

I'm seeing my stubs/mocks of methods revert to the original methods inside of `finally` blocks.

For example,

- Mock a method `bar`, with an expectation
- The expectation fails inside a try...finally block, raising a flexmock exception
- Then, the `bar` method inside the finally block is no longer mocked/stubbed. It is the original unmocked `bar` method.

In my case, I would like a method to

[2019-10-11 01:18] afoglia opened #31 "Flexmock of staticmethods not torn down properly"
If one tries to flexmock a staticmethod, after teardown, the staticmethod is no longer usable.

    ...   @staticmethod
    ...   def bar(x):
    ...     print("In Foo.bar")
    ...

    '0.10.4'

    <flexmock.Expectation object at 0x7f69b23eaa10>

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: 'staticmethod' object is not callable

    Traceback (

[2019-10-24 16:03] afoglia commented on #31
Here's a test showing it. It's identical to the test above it, but uses new-style classes, not old-style classes.

https://github.com/afoglia/flexmock/commit/641fde9ad5f81e191c2ef9350cf1b92e4f4a5e28

[2019-10-24 17:41] afoglia commented on #31
I sent a pull request. The problem comes down to the check in teardown at line https://github.com/bkabrda/flexmock/blob/master/flexmock.py#L665. There's a comment there implying the true-clause is only for pypy, but I don't know the history of it, or why it isn't checking if the implementation if pypy directly.

[2020-01-15 12:12] adarshk7 opened #34 "Using `should_call` passes wrong `runtime_self`"
Running this test fails

[code]

The error is: `AttributeError: type object 'SomeClass' has no attribute 'value'`

I investigated a little bit with a debugger and it seems as though the `runtime_self` and the `self` that gets passed on to the method when it is called is the class and not the instance.

[2020-09-03 16:04] ntnn opened #37 "flexmock reports MethodSignatureError on mocked sys.stdout.write"
Hi,

I'm the maintainer of flexmock for gentoo and received the following bug report:
https://bugs.gentoo.org/740128

The software [borgmatic](https://torsion.org/borgmatic/) uses flexmock for testing.

One of the tests mocks `sys.stdout` and throws the following error:
[code]

The test failure has been reproduced by me for python 3.6, 3.7 and 3.9.
The following is a minimal example:

[code]

Inte

[2020-11-18 20:18] lmilbaum opened #38 "and_return() to accept a function"
I would like to mock a function which returns different returns values according to a definitive logic.
The logic can be implemented by a function which returns the calculated return value.

[2021-07-02 04:50] christophe-riolo opened #41 "Transfer of responsibility"
Hello,

We are using flexmock in our project, and I personally like it very much.

We have noticed however that there has been some time without activity on the Github repository, and as I have tried to make a PR, I was wondering at the same time if you would like to transfer the maintenance responsibility.
I tried to reach you by mail, but the address given on PyPI doesn't work.

[2021-07-02 04:55] christophe-riolo commented on #38
Hello, does `.replace_with` do what you were looking for? It replaces the mocked function or method by a function with the same signature.

[2021-07-02 06:05] ghost commented on #41
@bkabrda, I'm also interested if you would be willing to add more maintainers or transfer the ownership of the project.

[2021-07-04 22:41] kloczek opened #42 "0.10.4: pytest is failing"
Just normal build, install and test cycle used on building package from non-root account:
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to setearch and sitelib inside </install/prefix>
[code]

[2021-07-06 10:00] christophe-riolo commented on #42
Hello,
we're a small team who are currently trying to claim maintenance of this project as is has not seen much movement lately, can you check if you get the same errors with our fork ? https://github.com/flexmock/flexmock

[2021-07-06 10:11] kloczek commented on #42
Using my automation it would be easier to have some git tag in that repo.

[2021-07-06 10:18] christophe-riolo commented on #42
Sure, we're on tag 0.10.7 : https://github.com/flexmock/flexmock/tree/0.10.7

[2021-07-06 11:07] kloczek commented on #42
I see that in that version you moved away from setuptools :(
setuptools provides nice feature which allows build documentation without care whre is `copy.py` by `/usr/bin/python3 setup.py build_sphinx -b [man|html]`
IMO moving to `builder` based framework from that point of view is kind of huge step back :(
And `builder` produces only .whl files which is necessary to unpack/install before generate

[2021-07-06 11:08] kloczek commented on #42
There are as well some issues with using Sphinx 4.0.2
[code]

[2021-07-06 11:41] christophe-riolo commented on #42
Right, thanks for the report, we haven't gotten into the documentation yet, we'll look into that :)

[2021-07-07 05:28] christophe-riolo commented on #42
Hello,
It should now be fixed with version `0.10.7+1` !

[2021-07-08 19:35] bkabrda commented on #41
Hey folks, I am currently on PTO with limited internet access. I see that you have already created a new repo and I am fine with transferring ownership on PyPI as well. I should be back from PTO next Monday and I will update this issue so we can talk in more detail. Thanks!

[2021-07-09 10:45] christophe-riolo commented on #41
Thank you this is really great news !

[2021-07-12 09:25] bkabrda commented on #41
So I'm back from PTO and ready to talk.

First of all, thanks for reaching out and wanting to take this on. I still think this is a great library and would love to see it maintained, I just have no time to invest any more.

I saw that you already created https://github.com/flexmock/flexmock which is a bit unfortunate, because ideally I would transfer this repository to the org and then all the Git

[2021-07-12 13:38] christophe-riolo commented on #41
That sounds like a great idea, we'll delete the repository and invite you a bit later today.

In the mean time, Olli and I could take care of PyPI :
https://pypi.org/user/ollipa/
https://pypi.org/user/christophe-riolo/

Thanks for your answer!
Christophe Riolo Uusivaara

[2021-07-13 06:55] christophe-riolo commented on #41
Hello,
Yestereve I deleted the repository and added you to the organisation as planned.

[2021-07-13 07:04] bkabrda commented on #41
Hi @christophe-riolo 👋 I've just transfered the repository. Thanks! In terms of PyPI access, I've just noticed that I'm not an admin and can't manage access for it. The only admin is still the original author @has207 - Herman, could you make me an admin on PyPI so I could add more people there?

In the meanwhile, I can upload new releases if need be.

[2021-07-14 03:01] ollipa commented on #41
@bkabrda, do you have owner access in Read The Docs? Are you able to add me to flexmock project in there? My username there is `ollipa`.

[2021-07-14 03:48] has207 commented on #41
@bkabrda made you an owner on pypi!

[2021-07-14 06:58] bkabrda commented on #41
@has207 thanks a lot!

@christophe-riolo and @ollipa I've invited you on PyPI and I added @ollipa as maintainer on RTD.

[2021-07-14 13:22] ollipa commented on #41
Thank you!

@christophe-riolo, I think we can close this issue now or is there something else we need?

[2021-07-14 13:29] christophe-riolo commented on #41
Thank you!

Yes I'll close this issue!

[2021-07-14 13:31] #41 closed, assigned to nobody

[2021-07-19 03:48] #34 closed, assigned to nobody

[2021-07-27 10:51] MartinBasti opened #46 "Regression in 0.10.5: AttributeError: 'CallInfo' object has no attribute 'duration'"
Upgrade to flexmock 0.10.5 caused tracebacks in our test suite https://github.com/containerbuildsystem/koji-containerbuild/pull/210/checks?check_run_id=3170457890

[code]

It's on centos7
[code]

It seems that this issue dropped py2 support because I also tested with pytest 4.6.11 (latest py2 supported pytest) and flexmock 0.10.5 and I was able to reproduce

[2021-07-27 18:06] MartinBasti commented on #46
Actually that attribute is not even in pytest 5.4

https://github.com/pytest-dev/pytest/blob/5.4.x/src/_pytest/runner.py#L222

[2021-08-09 08:37] ollipa opened #47 "Review disabled pylint rules"
Go through disabled pylint rules and refactor code if necessary. Try to reduce globally disabled rules and use local disables instead.

[2021-08-12 15:32] csomh opened #48 "Multiple `should_receive().with_args()` expectations for the same classmethod are not matched"
With `flexmock==0.10.5` (since #40) multiple `should_receive().with_args()` expectations for the same classmethod are not matched correctly.

The following reproducer

[code]

Fails with:

[code]

This doesn't happen if `class_method()` is called on an *instance* instead of the class, that is:

[code]

Modifying the reproducer to call `class_method()` without any arguments and expect to be called

[2021-08-14 06:04] ollipa commented on #42
@kloczek, can you still reproduce this issue with the latest version in master branch?

[2021-08-14 06:57] ollipa commented on #46
Thanks for the bug report! This should be fixed in #49. I'll make sure we test also older pytest versions in our master branch.

[2021-08-14 07:39] ollipa commented on #48
Thanks for the bug report! I'm able to reproduce this. @christophe-riolo, do you have time to troubleshoot this further?

[2021-08-14 07:49] ollipa opened #50 "Tests failing with Python 2.7 in 0.10.5"
8 tests are failing in 0.10.5 version using Python 2.7. This seems to be caused by changes introduced in #40. I noticed the failing tests when I was fixing something else. All tests seem pass with Python 3. @christophe-riolo, do you have an idea with might be causing this?

Running tests with ` ./tests/run_tests.sh`:
[code]

[2021-08-15 14:22] ollipa commented on #12
Locally you can see the coverage with command `pytest --cov-report term-missing --cov=flexmock tests`:
[code]

[2021-08-15 14:41] ollipa commented on #19
I'll close this since nose support will be removed in the upcoming release. Let us know if you have still issues using flexmock with Pycharm.

[2021-08-15 14:41] #19 closed, assigned to nobody

[2021-08-15 14:45] ollipa commented on #20
It seems that this was fixed in #25. Closing.

[2021-08-15 14:45] #20 closed, assigned to nobody

[2021-08-15 14:52] ollipa commented on #29
I'll close this for now, but if there is a convincing enough real-world use case for this feature, I would be happy to open this issue again.

[2021-08-15 14:52] #29 closed, assigned to nobody

[2021-08-15 15:13] ollipa commented on #31
I can't reproduce this anymore with the latest development version so I'll close this. It seems that this was just an issue with Python 2 and support for Python 2 has been removed in the upcoming release.

[2021-08-15 15:13] #31 closed, assigned to nobody

[2021-08-16 03:44] ollipa commented on #30
Hi! Right now MethodSignatureErrors are raised instantly when the method is called with a wrong signature. I think it would make more sense to raise the errors in during flexmock teardown like we do with other errors. This way test cases would not be interrupted by flexmock.

Thanks for the feature request!

[2021-08-16 04:01] ollipa commented on #24
Hi! I usually do this when I have to check for some specific arg:
[code]
This will allow to ignore other args if the types match. However, this would still fail if the number of the parameters change.

This sounds like a useful feature. A pull request would definitely be welcome!

[2021-08-16 10:42] #48 closed, assigned to ollipa

[2021-08-16 11:14] christophe-riolo opened #57 "Mocks are always iterable"
In the pas there has been two issue about iterating on the mock:
has207/flexmock#11
has207/flexmock#74

Following those issues the mocks are always iterable, even when the mocked class is not. It would be better to not add iterablility to all mocks and only when required.

[2021-08-16 11:19] ollipa commented on #57
I tried the examples in those issues but none of them use the the `yield self` functionality. The line is here:
https://github.com/flexmock/flexmock/blob/3edc739258652d876a9f7d01775f658b9e6fbc03/src/flexmock/api.py#L92

Maybe that fix affected just Python2?

[2021-08-16 11:27] ollipa commented on #50
Fixed in #53

[2021-08-16 11:27] #50 closed, assigned to ollipa

[2021-08-16 11:29] ollipa commented on #46
Fixed in #49 and #51

[2021-08-16 11:29] #46 closed, assigned to ollipa

[2021-08-16 11:40] MartinBasti commented on #46
Thank you!

[2021-08-18 07:44] arthurzam commented on #37
Trying to investigate the bug, here are my finding:
`sys.stdout.write` is a C written builtin, meaning that the various `inspect.is*` calls we use return `False` (documented [here](https://docs.python.org/3/library/inspect.html#inspect.ismethod)). Therefore we don't call the `-= 1` for removing the bound `self`.

I have managed to use the following call `len(inspect.signature(___).parameters)` to

[2021-08-18 14:04] ollipa commented on #37
@arthurzam, thanks for pointing me to the right direction! I opened a PR #58 that seems to fix the issue. I will still need to test that this doesn't cause any problems with other built-ins.

[2021-08-18 14:14] ollipa commented on #37
If you want to test the change in console, you need to first set a fall-through with `should_call`:
[code]
Otherwise the console itself will use `sys.stdout.write` when it prints out the expectation object and flexmock will raise an exception.

[2021-08-19 10:12] #37 closed, assigned to ollipa

[2021-08-21 11:21] ollipa opened #63 "should_call broken with mock object"
Trying to call `should_call` on a mock object raises an exception.

Reproducing code:
[code]

This can be fixed if I change the following line:
https://github.com/flexmock/flexmock/blob/513265e731fc4daceeb19123a4e71d652b990a1a/src/flexmock/api.py#L159

`expectation.__dict__["_original"]` -> `expectation.__dict__.get("_original")`

However after that this fails:

[code]

First error occurs only in

[2021-08-22 08:33] ollipa opened #65 "Add issue and pull request templates"
Add issue and pull request templates so reporting bugs and contributing would be easier.

[2021-08-22 08:40] ollipa opened #66 "Automate release process with Github Actions"
Setup Github Actions to create release and upload it to Pypi automatically. The automation could start, for example, when we create a new release tag.

- Add manual approval step before uploading the release to Pypi.
- Update CHANGELOG.rst automatically: add a new Unreleased block and move the old entries under the correct version number.
- Bump up version in all required files.
- Create Github re

[2021-08-22 08:47] ollipa opened #67 "Organize unit tests"
`tests` folder is a bit convoluted and `flexmock_test.py` file contains more than 2000 lines. I think it would be good to split that file to smaller files in some logical way.

[2021-08-22 08:54] ollipa opened #68 "Add tests for all integrations"
Ideally we would have automatic tests for all integrations that we support. Currently we are missing tests for:
- [x] doctest
- [x] Teamcity unittest
- [x] teststools
- [x] Zope
- [x] subunit

After implementing tests, we should also run the tests in codecov to get a coverage report for `integrations` module. This can be done by running different tests in parallel and merging the reports:
https://

[2021-08-22 08:56] ollipa commented on #12
We are missing coverage for just two lines in `api` module after merging #61. I made another issue about testing integrations #68.

[2021-08-22 09:04] ollipa opened #69 "Positional arguments displayed incorrectly in error messages"
Positional arguments displayed incorrectly in error messages. Just a cosmetic bug and nothing critical.

Reproducing code:
[code]

Should display error message:
[code]

But has error message:
[code]

[2021-08-23 09:38] amaury-m-hw opened #71 "Pytest test call duration is set to 0 when using flexmock"
Hello,

When importing flexmock in a pytest test suite, test call duration is systematically set to 0. test teardown and setup durations work fine.

# Steps to reproduce

python 3.6
pytest 6.2.4
flexmock 0.10.6

# Minimal repoducible example

[code]

And run `pytest --durations=0 -vv .`, which will output

[code]
When removing `from flexmock import flexmock`, the command outputs

[code]

Is there

[2021-08-23 09:47] ollipa commented on #71
Hello! This bug has already been fixed and it's waiting for a release. Once #70 is merged, we will make a new release.

[2021-08-23 10:09] ollipa commented on #71
Fix released: https://pypi.org/project/flexmock/0.10.7/

[2021-08-23 10:09] #71 closed, assigned to nobody

[2021-08-23 13:05] adam-sikora opened #72 "Failures when calling class/static method directly on derived class (not on instance)"
I have encountered multiple flexmock fails when mocking class/static methods that are called directly on a derived class. The issues started happening in `0.10.5` and are still present in `0.10.7`. Tests to reproduce the failures:
[code]

[2021-08-23 13:09] adam-sikora opened #73 "Fix failures in when mocking os and sys packages"
The `0.10.7` release introduced some issues with mocking of os and sys package. Tests to reproduce:
[code]

[2021-08-23 13:41] amaury-m-hw commented on #71
Awesome, thank you !

[2021-08-23 19:50] christophe-riolo commented on #72
~~I can reproduce this issue all the way from 0.7.0.
When testing with Pytest, however, before 0.10.5 I had a failure about the durations. Did you run your tests with Pytest ?
In any case, there is a bug to solve here thanks !~~
My bad, I did not test properly, and I can reproduce, I'll investigate

[2021-08-24 02:28] ollipa commented on #72
@christophe-riolo, I wrote tests to our test suite here: https://github.com/flexmock/flexmock/pull/76

You can use those tests to verify your fix.

[2021-08-28 00:13] #73 closed, assigned to ollipa

[2021-08-31 21:24] kloczek commented on #42
Jusyt checked 0.10.8 and pytest is OK now.
There are some warnings but no fails.
Feel free to close this ticket.

Thank you :)
[code]

[2021-09-01 01:41] #42 closed, assigned to nobody

[2021-09-01 01:43] #38 closed, assigned to nobody

[2021-09-04 11:43] ollipa opened #78 "Allow regex matching using a string"
Flexmock allows using compiled regex expressions to, for example, match return values:
[code]

I think it would be good if it would be possible to use regex expressions without importing `re` and compiling them first. We could, for example, automatically compile strings if they start and end with a forward slash. Then the above call would become this:

[code]

[2021-09-04 11:54] christophe-riolo commented on #78
The problem would be to make a difference between exact matching and regex matching, I suggest we make the default argument default to None but positional only, and a simple keyword argument for regex
[code]

[2021-09-04 11:55] ollipa opened #79 "Spying child class with_args does not work after spying the base class"
This code should pass:
[code]

But it raises:
[code]

[2021-09-04 11:59] christophe-riolo commented on #78
Mind you, I think positional only was only since 3.8 so we cannot force it yet, but `re` as keyword only would be nice still

[2021-09-04 12:08] ollipa opened #80 "Base class call count when spying is inconsistent with mocking"
Spying base class with `should_call` counts calls to subclasses and instances of subclasses when a subclass has it's own spy set. I think here the functionality should be consistent with mocking. If the child has has it's own spy, then the spy in the base class, should not count calls to the child class.

Example code with `should_call`:
[code]

Raises:
[code]

Similar test with `should_receive` p

[2021-09-04 12:37] ollipa commented on #78
`expectation.and_return(re='r+')` would not work if there are multiple return values. Also, it would be good to be consistent with `with_args` and in there we need to use the parameters from the original function.

[2021-09-04 12:44] ollipa commented on #72
Closed by #76 and #77

[2021-09-04 12:44] #72 closed, assigned to christophe-riolo

[2021-09-06 04:10] christophe-riolo commented on #78
What's your suggestion for returning a literal `"/stu.*/"` in this case ?

[2021-09-08 08:59] vesellov opened #81 "AttributeError raised when mocking a proxied object"
Hello flexmockers.

We discovered an issue with our unit tests which is happening only using latest flexmock `0.10.9` version.

It looks to me that there is a missing condition that suppose to check inside  `_is_static_method(obj, name)` a case when `name` is not exist inside `obj`:
https://github.com/flexmock/flexmock/commit/8df988fe12d24c07f0a05cea750ab72551a9dc0e#diff-4447caeac2a41d5b6017bc003b

[2021-09-08 12:15] ollipa commented on #81
Hi! Thank you for the bug report. I think this is somehow related to the fact that you are mocking a proxied object using `celery.local.PromiseProxy`.

It's interesting that `Mock._hasattr` seems to return `True` but `inspect.getattr_static` still raises an `AttributeError` later in the code.

[2021-09-09 11:59] ollipa commented on #78
How about this:
`"/stu.*/"` == `re.compile("stu.*")`
`"//stu.*//"` == `"/stu.*/"`

Then if someone needs to use double forward slash in the beginning and end of a pattern, they can just use `re.pattern`.

[2021-09-17 04:44] #81 closed, assigned to ollipa

[2021-10-06 13:17] vokracko opened #85 "Modifier should_raise mentioned in documentation does not exist"
https://github.com/flexmock/flexmock/search?q=should_raise
https://github.com/flexmock/flexmock/blob/c7ab063102335a29af1bb9452c91b740eecfaa62/docs/user-guide.rst#L50

[2021-10-13 01:02] ollipa opened #86 "Rename `Expectation.should_call` method to something more descriptive"
I think it would be good to rename `Expectation.should_call` to something more descriptive to distinguish it better from `Expectation.should_receive`. When I did code reviews or wrote tests myself I quite often accidentally used `should_call` (spying) when I should have called `should_receive` (mock) or vice versa.

I suggest that we rename `should_call` to `should_call_spy`. Other suggestions tha

[2021-10-13 01:08] ollipa commented on #85
Thanks for pointing out the mistake! It should say `and_raise` instead of `should_raise` there.

[2021-10-15 07:43] #85 closed, assigned to ollipa

[2021-10-26 12:47] #63 closed, assigned to ollipa

[2021-10-26 12:47] ollipa commented on #63
Using `should_call` with mock object now raises a `FlexmockError`.

[2021-10-26 15:26] adarshk7 commented on #86
I agree that `should_call` and `should_receive` should be more descriptive, but I still think changing `should_call` to `should_call_spy` isn't the right choice. Maybe I'm biased because I'm used to the current API, but `should_call` and `should_receive` already make more sense to me than `should_call_spy`.

One of the main reasons why flexmock is a nice-to-use library is because the API lets you

[2021-10-27 07:17] christophe-riolo commented on #86
I agree with your opinion, and I really like `expect_call` but I think that `should_call_spy` actually reads decently :
[code]

Maybe a better option would be to have a slight change in that manner:
[code]
What do you think, @adarshk7 @ollipa ?

[2021-10-29 07:56] ollipa commented on #86
@adarshk7, I think it's hard to make the language always to flow naturally when the methods are chained. For example, `expect_call('function').with_args('a', 2)` make sense but `expect_call('function').and_return(3)` doesn't sound so natural anymore (for example, `expect_call('function').should_return(3)` would be more natural in this case).

I would not go that far that I would also rename `shoul

[2021-11-02 06:57] christophe-riolo commented on #86
I don't like that it's so long either, but it's almost the same as `should_call_spy` so I though it was improving still :)
`should_proxy` is nice and short but I don't think it carries the meaning of "calling", it's more what we do when we mock than when we call the mock, so "should proxy with args and return" don't make as much sense as "should call with args and return"

[2021-11-02 10:15] adarshk7 commented on #86
I think there's a lot of work that needs to go into the API in this regard. Even though this warrants a lot more changes, I think the long term plan should be to make the difference between spies and mocks a lot clearer, so far as to separate the API and the underlying code.

What I mean is that `flexmock(something).expect_call('abc')` returns a `Spy` object which would be completely different fro

[2021-11-05 12:46] ollipa opened #96 "Remove called deprecated property error"
PR #84 removed the possibility to call `once`, `twice`, `never`, and `mock` methods without parenthesis. To avoid silently breaking tests, an error is raised if these methods are called without parenthesis. This allows flexmock users to notice if they are calling these methods without parenthesis. This workaround should be removed in a future flexmock version.

[2021-11-05 14:20] ollipa opened #98 "TypeError: 'MockClass' object is not callable error in latest master build"
Previously successful tests fail with an error:

[code]

It seems that `__call__` method that was removed in #84 is causing issues. I'll try find out how to reproduce the issue.

[2021-11-06 02:53] ollipa commented on #98
Here is a test case to reproduce this issue:
[code]

[2021-11-07 00:59] #98 closed, assigned to nobody

[2021-11-08 08:05] mgorny opened #100 "zope.testrunner (5.3.0) integration broken: AttributeError: module 'zope.testrunner' has no attribute 'runner'"
This can be easily reproduced by forcing `zope.testrunner` into the tox test env:

[code]

The resulting failure:
[code]

[2021-11-08 08:22] ollipa commented on #100
Thank you for the bug report! It seems that this exception was silently ignored in the previous release so I wonder how the integration was working before.

Pre 0.11.0:
[code]

0.11.0:
[code]

[2021-11-08 08:24] mgorny commented on #100
It probably didn't. I've only noticed because tests started failing on me now.

[2021-11-08 09:26] ollipa commented on #100
Ignoring the error was actually intended behavior. It seems that `zope.testrunner.runner` is only available when the test runner is executed so if the tests are executed with some other test runner, an exception would be raised. PR #101 fixes this bug and adds Zope testrunner to our test suite.

[2021-11-09 09:06] #100 closed, assigned to ollipa

[2021-11-09 09:55] kloczek opened #103 "Documentation doesn't support generating man pages"
Up to now I've been generating man page as documentation using setuptools `build_sphinx` command.
Looks like in l;atest version sphinx support has been removed (no dosc/copy.py files).
How can I now generate documentation as man page?

[code]

[2021-11-09 18:06] stefanor commented on #103
It switched to mkdocs in 82990e52165c5081eae0512864e68a0092dd3dbb

[2021-11-09 18:09] stefanor opened #104 "Makefile and tox.ini run different suites through twisted trial"
Makefile tests trial against `tests/flexmock_pytest_test.py`:

https://github.com/flexmock/flexmock/blob/adc2419af992fe89aa21048aa8144f41baa16c99/Makefile#L47

tox tests trial against `tests/flexmock_test.py`:
https://github.com/flexmock/flexmock/blob/adc2419af992fe89aa21048aa8144f41baa16c99/tox.ini#L26

I'm assuming the Makefile should be changed to match (or deleted entirely).

[2021-11-09 20:51] kloczek commented on #103
According to mkdocs description this tool can generate only static html. If that is true it is kind of regress than progress.

Probably it is know that sphinx can use as md files as source and it can generate as well static html .. and sphinx as documenation maintainace framework is de facto python standard (I see first python module which is using mkdocs).

I can understnd that mainytainer may li

[2021-11-10 05:38] ollipa commented on #103
Version 0.11.0 replaced Sphinx with Mkdocs. This was done to improve developer and user experience (I understand there might be differing opinions about this). There are actually quite many more recent Python projects that use Mkdocs. For example, FastAPI, Pydantic, and httpx.

That being said, it is unfortunate that Mkdocs doesn't support generating man pages. Thanks for pointing out that Sphinx

[2021-11-10 05:43] ollipa commented on #104
You are right! The file should be `flexmock_test.py` in the Makefile as well. I actually noticed this as well when I renamed the test files, so PR #102 fixes this issue.

[2021-11-10 07:01] ollipa commented on #103
@kloczek, I made a quick POC that adds Sphinx support for generating man pages from the markdown documentation. See #105. It seems to work nicely when I tested generating man pages locally.

[2021-11-11 09:24] kloczek commented on #103
Just tested that PR and it looks like itdoes not work as expected.
[code]
As you see I've added `egg_info` to `build` to generate in build directory module meta data (I have opened issue ticket to perform that automatically https://github.com/pypa/setuptools/issues/2761).
I think that instead accesing to module metadata easier would be just use data provided by setuptools.

[2021-11-12 07:32] ollipa commented on #103
I pushed a new commit to the PR. @kloczek, can you try again? It should work now.

[2021-11-12 10:44] kloczek commented on #103
Of course .. one sec :)

[2021-11-12 10:47] kloczek commented on #103
Looks like it works now however there are some wasnings.
Nevertheless thak you very much for your time :)
[code]

[2021-11-12 13:16] ollipa commented on #103
Great! Thank you for your help!

[2021-11-18 03:21] ollipa opened #112 "Flexmock doesn't work correctly with `unittest.expectedFailure`"
Flexmock doesn't work correctly with `unittest.expectedFailure` decorator. If a test is marked with `expectedFailure` and flexmock assertions fail, the test fails due to unexpected success.

https://docs.python.org/3/library/unittest.html#unittest.expectedFailure

We should hook flexmock into `addUnexpectedSuccess` and `addExpectedFailure`.

Test case to reproduce the issue:
[code]

Running the ab

[2021-11-26 00:59] ollipa opened #115 "Support mocking async functions and methods natively"
Currently, using flexmock with async functions and methods requires some boilerplate code. When the return value of async function is mocked, an exception is raised:

[code]

One way around is to return something awaitable:
[code]
This however can cause problems with some code because the mocked function should return a coroutine instead of a future.

Another way is to use `replace_with`:
[code]

[2021-12-01 00:44] ollipa opened #116 "Running integration tests"
Should we run all test runner integration tests when `make test` is executed?

Since we have so many integrations, I would prefer if there would be a separate command to run the integration tests (`make test-integration`), or we could just run the with tox. I would leave unittest, doctest and pytest tests to makefile and run everything else separately.

Related to discussion in here:
https://githu

[2021-12-01 00:45] #104 closed, assigned to ollipa

[2021-12-01 01:03] #103 closed, assigned to ollipa

[2021-12-01 01:45] #12 closed, assigned to nobody

[2021-12-02 00:46] ollipa opened #117 "Remove duplication from CI and makefile"
Makefile and CI workflows contain a lot of duplicated logic. Coverage tests run almost the same tests as tox and similar commands are also repeated in makefile. We should try to remove the duplication.

Related conversation:
https://github.com/flexmock/flexmock/pull/111#discussion_r759082693

[2022-01-04 10:27] #68 closed, assigned to ollipa

[2022-01-04 14:03] kloczek opened #119 "0.11.2: pytest is failing"
Looks like pytest is failing in `tests/test_unittest.py::TestUnitTestIntegration::test_failed_test_case` unit
[code]

[2022-01-04 14:15] kloczek opened #120 "PEP517 build installs too many files"
Just switched in my spec firl for `flexmock` to pep517 based build and install which consiste from
- `python3 -sBm build -w`
- install .whl file in </install/prefix>

And looks like using that procedure suddenly some filres landed in </install/prefix> which should not be there.
Package build log:
[code]
All abole files IMO should be added to exclude install list in project.toml.

[2022-01-05 00:41] ollipa commented on #119
The failing test is meant to be executed with unittest and it is supposed to fail (it verifies that flexmock runs teardown on test failure). Pytest should only execute tests in `test_pytest.py`. The tests are not organized so that each test runner has their own test module that is used as an entrypoint.

I updated the pytest configuration in #121 so that Pytest includes only `test_pytest.py` file

[2022-01-05 01:00] ollipa commented on #120
Thanks for the report! The tests and documentation have always been included in the package so I was a bit hesitant to remove them before. However, I agree with you that it doesn't really make much sense to include them. `pyc` files are already ignored and they seem to be leftovers from test & doc build execution.

@christophe-riolo, @adarshk7, can you think of any reason why we should keep bundli

[2022-01-05 06:29] christophe-riolo commented on #120
No, anyone interested in the tests would most likely head over to the git repository anyway. Docs could be shipped in man format but apart from that I see no benefit either personally

[2022-01-05 09:56] #119 closed, assigned to nobody

[2022-01-05 10:59] kloczek commented on #119
Just tested that patch and it looks good now.
[code]

[2022-01-05 11:03] kloczek opened #122 "0.11.2: pep517 based build installs to much"
[code]
However inside archive there are a lot of files which should not be packaged
[code]
All docs/, tests/ and CHANGELOG.md, LICENSE and README.md should not be archived.
Looks like those files needs to be added to exclude list.

[2022-01-05 11:19] #122 closed, assigned to nobody

[2022-01-05 15:17] kloczek commented on #120
I'm not su

No, no .. `pyc` filres has been generated by rpm post installation script. So exactly those filesa are listed on the rpm build package error log because they've been placed inside of the .whl :)

Here is the actual .whl arche files content:
[code]
Do you know what exactly needs to be changed to exclude files which I've mentioned to not be packaged into .whl archive?

[2022-01-05 15:20] kloczek commented on #120
I'm not sure is it possible to have different list (with exaclude/include rules) of files which needs to be archived in sdist and other one which will be used fto generate .whl archive.

[2022-01-05 16:17] rominf opened #123 "flexmock import breaks pywikibot library"
### Input
[code]

### Expected output
[code]

### Actual output
[code]

### Additional info
[code]

[2022-01-06 02:00] ollipa commented on #123
This seems to be a bug in `pywikibot` and this behavior could by caused by any import. The problem is that `pywikibot` iterates over `sys.modules` directly when it should iterate over a copy of it:

https://docs.python.org/3/library/sys.html#sys.modules

Please report this bug to `pywikibot` project instead.

[2022-01-06 02:00] #123 closed, assigned to nobody

[2022-01-06 07:06] ollipa commented on #120
@kloczek, you are right, it's not possible to target specific build formats with include/exclude.

PR #124 this issue.

[2022-01-11 11:21] #120 closed, assigned to nobody

[2022-01-12 00:59] #67 closed, assigned to ollipa

[2022-01-17 08:57] wojtha commented on #16
We just run into this issue in 2022. @bkabrda seems that your voice in the related Python issue in 2016 wasn't heard ☹️ I suggest we should raise a warning when `new_instances()` is called until the issue is resolved. Or perhaps make a note about it in the documentation.

[2022-02-06 05:06] ollipa commented on #16
@wojtha, thank you for your suggestions. I added a warning to the documentation in PR #127. I think before we raise a warning when `new_instances` method is called, we should first think about some alternative way to fake new instances.

As a side note, this bug seems to only affect CPython. For example, PyPy doesn't suffer from this bug.

[2022-02-08 13:18] christophe-riolo commented on #16
We should probably follow up on the Python bug tracker also, it's tricky to fix this bug without this :thinking:

[2022-10-28 16:34] nikoladsp opened #133 "Comparison to other similar libraries"
Hi,
one question: I like flexmock, mainly because of it's easy of use and want to suggest it to my colleagues at work. Before I do that, I would like to know is there any comparison to other similar libraries I can show to them? Like what it does better then for example unittest's Mock and similar; so that it does not look I am proposing it just because I personally like it :)

Thank you in advanc

[2022-10-28 17:00] ollipa commented on #133
Hello! I'm glad to hear to you enjoy using flexmock. Did you notice the comparison section in the documentation?
https://flexmock.readthedocs.io/en/latest/compare/

[2022-10-28 19:21] nikoladsp commented on #133
Thank you - I did not tbh; dived into usage straight ahead! Are there any good user reviews I can also show?

[2022-11-06 12:37] ollipa commented on #133
I'm not sure if there are any user reviews I can point you to. If you want to compare flexmock to other libraries, take a look at [chainmock](https://github.com/ollipa/chainmock) and [pytest-mock](https://github.com/pytest-dev/pytest-mock/).

Chainmock has very similar API and uses Python standard library for mocks instead of custom mocking implementation. Chainmock also supports mocking async fun

[2022-11-10 07:32] nikoladsp commented on #133
Thank you very much - I will continue to use it and spread the good word!

[2022-11-10 07:32] #133 closed, assigned to nobody

[2022-11-22 16:35] mtelka opened #136 "The sdist is missing tox.ini"
The sdist at PyPI is missing `tox.ini` file.  Please add it to sdist to make the downstream testing easier.  Thank you.